body {
  margin: 0;
  background-color: #282c34;
  height: 100%;
  padding: 0;
  font-family: "Libre Baskerville", serif;
}
/* 
:root {
  --background: 12, 59, 77;
  --text-primary: 2, 254, 255;
  --text-secondary: 221, 221, 221;
  --accent: 102, 102, 102;
}

[data-theme="light"] {
  --background: 170, 170, 170;
  --text-primary: 255, 255, 255;
  --text-secondary: 0, 255, 255;
  --accent: 102, 102, 102;

  --primary-background: #fdfe3e;
  --primary-border: #ee32c2;
  --primary-background-disabled: #106161;
} */

.btns {
  display: flex;
  align-items: center;
  border: 1px solid rgb(var(--text-primary));
  background-color: rgb(var(--background));
  color: var(--text-secondary);
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
  text-transform: capitalize;
}

.btns:hover {
  cursor: pointer;
}
